@font-face {
  font-family: 'Medium';
  src: url('../public/fonts/NotoSansKR-Medium.woff2');
}

@font-face {
  font-family: 'Regular';
  src: url('../public/fonts/NotoSansKR-Regular.woff2');
}

@font-face {
  font-family: 'Regular-Hestia';
  src: url('../public/fonts/NotoSansKR-Regular-Hestia.woff');
}

a:link {
  color : #333333;
  text-decoration: none;
}
a:visited {
  color : #333333;
  text-decoration: none;
}

#gnb>li {
	float:none !important;
	display:inline-block !important;
}

ul li {
  float: left;
  margin-left: 20px;
  margin-right: 10px;
}

li::marker {
  color: #BABECC
}

.li1 { list-style-type : none }

.Header {
  width: 100%;
  padding: 30px 25px 0px;
  font-family: 'Regular';
  display: flex;
  color: #333333;
  font-size: 14px;
  align-items: auto;
}

.area_header .top_menu{
  width: auto;
  padding-right: 20px;
  
}

.header--input {
  outline: none;
  border-left-width:0; 
  border-right-width:0; 
  border-top-width:0; 
  border-bottom-width: 0.5px;
  border-bottom-color: black;

}
.top_menu{
    right: 0;
}

.search {
  position: relative;
}

.header-search-icon {
  position: absolute;
}

.headerList {
  margin-left: 20px;
  color: #333333;
  font-size: 19px;
  font-family: Medium;
  margin-bottom: 10px;
}

.nav--block {
  padding: 10px;
}

.imgContainer {
  position: static;
}

.noticeText {
  color: white;
  font-size: 19px;
  font-family: Medium;
  background-color: green;
  padding-left: 50px;
  padding-top: 14px;
  padding-right: 50px;
  padding-bottom: 12px;
}

.greenBar {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.contentText {
  color: white;
  font-size: 18px;
  font-family: Medium;
  background-color: #4DB02C;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 12px;
}